    .banner-area4 {
    height: 420px !important;
}
.footer-area .copyright-area .social-links li a i {
    line-height: 50px !important;
}
.main_user-pro_wrap .cart i {
    line-height: 60px !important;
}
.dn{
    display: none;
}