  .nice-select.open .list {
            /*z-index: 999;*/
        }
        .modal-backdrop{
            z-index: 999;
        }
        .form-group label:before{
            display: none;
        }
        .form-control {
        display: block !important;
        width: 100% !important;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        height: 40px ! important;
        border-radius: 0;
        padding: 15px !important;
    }
    button.close {
        position: absolute;
        right: 0;
        top: 15px;
        right: 15px;
    }
    .popover{
        display: none;
    }
    label.error{
        color: red;
        display: block !important;
    }
    .invalid-feedback{
    display: inline-block !important;
   }
     .invalid-feedback{
    display: inline-block !important;
  }
.trash{
       cursor: pointer;
   }
  label.error {
      color: red;
      margin-bottom: 20px;
      margin-top: -20px;
      font-size: 12px;
  }