
.banner-area{
    height: 900px;
    position: relative;
    z-index: 2;
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    @media #{$mobile_device}{
        height: 800px;
    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @extend %banner-bg;
        position: absolute;
        z-index: -2;
    }
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -2;
        background-image: url(../img/banner/banner-img-1.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .banner-info{
        position: relative;
        z-index: 7;
        h2{
            font-size: 60px;
            color: #fff;
            @media #{$mobile_device} {
                font-size: 35px;
            }
        }
        p{
            font-size: 16px;
            color: rgba(255,255,255,.7);
            line-height: 33px;
            margin-top: 30px;
            margin-bottom: 54px;
            br{
                @media #{$mobile_device}{
                    display: none;
                }
                @media #{$tablet_device}{
                    display: none;
                }
            }
        }
        h4 {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
            line-height: 33px;
            margin-top: 30px;
            margin-bottom: 54px;
            font-weight: 400;
        }
    }
    .search-field{
        position: relative;
        z-index: 9;
        padding: 40px;
        @media #{$mobile_device}{
            padding: 10px;
        }
        &::before{
            background: #924cbd;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            position: absolute;
        }
        form{
            position: relative;
            input{
                width: 100%;
                height: 60px;
                padding-left: 25px;
                border: 0;
                font-size: 15px;
                position: relative;
                z-index: 5;
                &::placeholder{
                    font-size: 15px;
                    color: $gray-color;
                }
                &:focus{
                    outline: none;
                }
            }
            button{
                position: absolute;
                right: 17px;
                background: none;
                border: 0;
                color: #222;
                font-size: 16px;
                height: 100%;
                cursor: pointer;
                top: 0;
                font-family: $bodyfont;
                z-index: 5;
                &:focus{
                    outline: none;
                }
            }
        }

    }
}

.banner-area2{
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 135px;
    padding-bottom: 190px;
    @media #{$mobile_device}{
        padding-top: 150px;
        padding-bottom: 100px;
    }
    @media #{$tablet_device}{
        padding-top: 150px;
        padding-bottom: 150px;
    }
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @extend %catagori-bg;
            position: absolute;
            z-index: -2;
        }
        .search-field{
            position: relative;
            z-index: 1;
            padding: 20px;
            @media #{$mobile_device}{
                padding: 10px;
            }
            &::before{
                background: #924cbd;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                content: "";
                position: absolute;
            }
            form{
                position: relative;
                input{
                    width: 100%;
                    height: 60px;
                    padding-left: 25px;
                    border: 0;
                    font-size: 15px;
                    position: relative;
                    z-index: 5;
                    @media #{$mobile_device}{
                        height: 40px;
                    }
                    &::placeholder{
                        font-size: 15px;
                        color: $gray-color;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    position: absolute;
                    right: 17px;
                    background: none;
                    border: 0;
                    color: #222;
                    font-size: 16px;
                    height: 100%;
                    cursor: pointer;
                    top: 0;
                    font-family: $bodyfont;
                    z-index: 5;
                    &:focus{
                        outline: none;
                    }
                }
            }
    
    
        }
        .banner-info{
            position: relative;
            z-index: 7;
            h2{
                font-size: 60px;
                color: #fff;
                @media #{$mobile_device} {
                    font-size: 35px;
                }
            }
            p{
                font-size: 16px;
                color: rgba(255,255,255,.7);
                line-height: 33px;
                margin-top: 30px;
                margin-bottom: 54px;
                br{
                    @media #{$mobile_device}{
                        display: none;
                    }
                    @media #{$tablet_device}{
                        display: none;
                    }
                }
            }
        }
}
  

// banner 3
.banner-area3{
    display: table;
    width: 100%;
    // height: 500px;
    height: 420px;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @extend %catagori-bg;
        position: absolute;
        z-index: -2;
    }
    .banner-area-inner{
        display: table-cell;
        vertical-align: bottom;
        .banner-info{
            margin-bottom: 150px;
            @media #{$mobile_device} {
                flex-direction: column;
                margin-bottom: 50px;
            }
            h2{
                font-size: 36px;
                font-family: $title-font;
                font-weight: 700;
                color: #fff;
                line-height: 48px;
                @media #{$mobile_device} {
                    font-size: 25px;
                    line-height: 34px;
                }
            }
        }
    }
    .profile_author{
        .thumb{
            margin-right: 30px;
            @media #{$mobile_device} {
                margin-right: 20px;
            }
        }
        .profile_name{
            h5{
                color: #fff;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 4px;
            }
            p{
                color: #fff;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 300;
                line-height: 26px;
            }
        }
        .view-follow{
            margin-top: 20px;
            @media #{$mobile_device} {
                // display: none !important;
            }
            a{
               background: rgba(255,255,255,.10);
               @media #{$mobile_device} {
                   padding: 8px;
                   font-size: 10px;
               }
               &:nth-child(1){
                   margin-right: 7px;
               }
            }
        }
    }
    .rating{
        @media #{$mobile_device} {
            // display: none !important;
            width: 100%;
            margin-top: 30px;
        }
        .rating-star{
            text-align: center;
            margin-right: 26px;
            p{
                font-size: 14px;
                margin-bottom: 0;
                line-height: 21px;
                font-family: $title-font;
                font-weight: 300;
                color: #fff;
                margin-bottom: 10px;
            }
            i{
                color: #ffcc00;
                font-size: 14px;
                margin-right: 4px;

            }
        }
        .sate-total{
            @media #{$mobile_device} {
                // display: none !important;
            }
            text-align: center;
            p{
                font-size: 14px;
                margin-bottom: 0;
                line-height: 21px;
                font-family: $title-font;
                font-weight: 300;
                color: #fff;
            }
            h3{
                font-size: 36px;
                font-weight: 700;
                color: #fff;
            }
        }
    }
}
// banner 4
.banner-area4{
    display: table;
    width: 100%;
    height: 500px;
    position: relative;
    @media #{$mobile_device}{
        height: 400px;
    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @extend %catagori-bg;
        position: absolute;
        z-index: -2;
    }
    .banner-area-inner{
        display: table-cell;
        vertical-align: middle;
        .banner-info{
            text-align: center;
            h2{
                font-size: 36px;
                font-family: $title-font;
                font-weight: 700;
                color: #fff;
                line-height: 48px;
                margin-bottom: 0;
                @media #{$mobile_device} {
                    font-size: 25px;
                    line-height: 34px;
                }
            }
            &.knowledge_title{
                h2{
                    margin-bottom: 28px;
                }
            }
        }
    }
    .search-field{
        position: relative;
        z-index: 0;
        padding: 20px;
        @media #{$mobile_device}{
            padding: 10px;
        }
        &::before{
            background: #924cbd;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            position: absolute;
        }
        form{
            position: relative;
            input{
                width: 100%;
                height: 60px;
                padding-left: 25px;
                border: 0;
                font-size: 15px;
                position: relative;
                z-index: 5;
                &::placeholder{
                    font-size: 15px;
                    color: $gray-color;
                }
                &:focus{
                    outline: none;
                }
            }
            button{
                position: absolute;
                right: 17px;
                background: none;
                border: 0;
                color: #222;
                font-size: 16px;
                height: 100%;
                cursor: pointer;
                top: 0;
                font-family: $bodyfont;
                z-index: 5;
                &:focus{
                    outline: none;
                }
            }
        }


    }
}