%banner-bg{
    background-image: -moz-linear-gradient( 90deg, rgb(183,55,224) 0%, rgb(39,0,110) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(183,55,224) 0%, rgb(39,0,110) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(183,55,224) 0%, rgb(39,0,110) 100%);
  }

%primary-btn{
  background-image: -moz-linear-gradient( 0deg, rgb(124,50,255) 0%, rgb(162,53,236) 70%, rgb(199,56,216) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(124,50,255) 0%, rgb(162,53,236) 70%, rgb(199,56,216) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(124,50,255) 0%, rgb(162,53,236) 70%, rgb(199,56,216) 100%);
}
%primary-btn2{
  background-image: -moz-linear-gradient( 90deg, rgb(199,56,216) 0%, rgb(162,53,236) 30%, rgb(124,50,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(199,56,216) 0%, rgb(162,53,236) 30%, rgb(124,50,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(199,56,216) 0%, rgb(162,53,236) 30%, rgb(124,50,255) 100%);
}

%catagori-bg {
  background-image: -moz-linear-gradient( 90deg, rgb(185,45,220) 0%, rgb(42,0,108) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(185,45,220) 0%, rgb(42,0,108) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(185,45,220) 0%, rgb(42,0,108) 100%);
}
%cat-hover{
  background-image: -moz-linear-gradient( 0deg, rgb(130,40,251) 0%, rgb(165,43,232) 70%, rgb(200,46,213) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(130,40,251) 0%, rgb(165,43,232) 70%, rgb(200,46,213) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(130,40,251) 0%, rgb(165,43,232) 70%, rgb(200,46,213) 100%);
}

