.add_payment_btn{
    padding-right: 50px;
    position: relative;
}
 .add_payment_btn .fix-gr-bg  {
        position: absolute;
        right: 0;
        top: 8px;
    }
@media (max-width: 991px){

    .add_payment_btn .mt-40 {
        margin-top: 21px !important;
    }
}


.add_payment_btn .input-effect{
    margin: 15px 0;
}
.add_input:focus {
        border-bottom: 1px solid rgba(130, 139, 178, 0.3) !important;
}
